
<div>
    <select [(ngModel)]="platform">
        <option *ngFor="let currentPlatform of getPlatforms()" [value]="currentPlatform">{{ currentPlatform }}</option>
    </select>
</div>
<div>
    <label>Name: </label>
    <input [(ngModel)]="search" placeholder="Search products..." />
    <br/>
    <label>Price min: </label>
    <input type="number" [(ngModel)]="minPrice" placeholder="Min price" />
    <br/>
    <label>Price max: </label>
    <input type="number" [(ngModel)]="maxPrice" placeholder="Max price" />
</div>

<br/>

<app-product    *ngFor="let currentProduct of products|productFilter:getFilters()" 
                [product]="currentProduct"
                [canBuy]="true"
                (onAddToCart)="addToCart($event)"
                class="product" />
