<div *ngIf="product != null">
    <h2>{{ product.name }}</h2>
    <img [src]="product.img" alt="{{ product.name }}" /><br />
    <p>Price: {{ product.price }}</p>

    <div *ngIf="detailed == true">
        <p>{{ product.description }}</p>
        <p>Platform: {{ product.platform }}</p>
    </div>

    <a [routerLink]="['/product', product.id]">Details</a><br />

    <button *ngIf="canBuy" (click)="addToCart()">Add to Cart</button>
    <button *ngIf="canRemove" (click)="removeFromCart()">X</button>
</div>